/**
 * CREATING CUSTOM JUMBOTRON
 */
.header-background {
	height: 40vh;
	background: rgb(254,200,6);
	background: linear-gradient(90deg, rgba(254,200,6,1) 0%, rgba(241,152,87,1) 69%, rgba(221,51,43,1) 100%);
}


.header-jumbotron {
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 5em;
	margin-right: 5em;
	vertical-align: middle;
}

.header-jumbotron-title {
	font-size: 1.5em;
	color: #FF6600;
	font-weight: bolder;
	font-style: italic;
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding-bottom: 1em;
}

.header-jumbotron-sep {
	position: relative;
	padding-right: 20%;
	border-bottom-color: #FF6600;
	border-bottom: 3px solid;
	border-radius: 2px;
}


.header-jumbotron-text {
	padding-left: 2em;
	padding-right: 2em;
	font-size: 1.1em;
	font-style: italic;
	color: #0D3191;
}

.aboutus {
	margin-top:  10vh;
	border-width: 4px;
 	border-style: solid;
  	border-image: radial-gradient(circle, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 89%, rgba(13,49,145,1) 94%) 1;
 } 

.aboutus-text{
	color: #0D3191;
}