/**
 * CREATING CUSTOM JUMBOTRON
 */
.header-jumbotron {
	margin: 5em;
	vertical-align: middle;
}

.header-jumbotron-title {

	font-size: 1.5em;
	color: #FF6600;
	font-weight: bolder;
	font-style: italic;
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding-bottom: 1em;
}

.header-jumbotron-sep {
	position: relative;
	padding-right: 20%;
	border-bottom-color: #FF6600;
	border-bottom: 3px solid;
	border-radius: 2px;
}


.header-jumbotron-text {
	padding-left: 2em;
	padding-right: 2em;
	font-size: 1.1em;
	font-style: italic;
	color: #0D3191;
}

.aboutus {
	border-width: 4px;
 	border-style: solid;
  	border-image: radial-gradient(circle, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 89%, rgba(13,49,145,1) 94%) 1;
 } 

.aboutus-text{
	color: #0D3191;
}